
.table_container {
    padding: 10px;
    color:white;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  table {
    border: 2px solid #3BB19B;
    width: 800px;
    height: 200px;
  }
    
  th {
    border-bottom: 1px solid #3BB19B;
  }
    
  td {
    border:  1px solid #3BB19B;
    text-align: center;
  }