body{
	background-color:rgb(29,44,79);
}
.navbar {
	width: 100%;
	height: 70px;
	background-color: #3BB19B;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: rgb(29,44,79);
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	color: white;
	background-color: rgb(29,44,79);
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	float: right;
	margin-right: 20px;
	transition: 0.4s;
}
.white_btn:hover{
	transform: scale(1.1);
	color: rgb(221, 82, 82);
}
